# Specified packages
cupy-cuda12x==13.0.0
h5py==3.12.1
matplotlib==3.9.3
numpy==1.24.4
nvidia-dali-cuda120==1.38.0
nvidia-nvimgcodec-cu12==0.2.0.7
parameterized==0.9.0
protobuf==3.20.3
pynvml==11.4.1
ruamel.base==1.0.0
ruamel.yaml==0.18.6
tensorboard==2.9.0
torch==2.4.1
torchinfo==1.8.0